<h2>Claim your alumni account with you original Genpact email address</h2>

                <form action="" method="POST">

                <div class="form-group">
                        <label for="email">Genpact Email:</label>
                        <input type="text" class="form-control" name="email">
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
                </form>

		

